.container {
  width: 95%;
  margin: 0 auto;
}
// .primary-bg {
//   background: #0F292F;
// }
// .secondary-bg {
//   background: #501532;
// }
// .primary-text {
// }
// .secondary-text {
// // }
// body {
//   background: #1e1d2f;
// }
.shadow-footer {
  height: 90px;
}
